@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');

.header {
	height: 200px;
	background-color: #e5e000;
}

.name {
	font-family: 'Yeseva One', cursive;
	color: white;
	font-size: 3rem;
	line-height: 200px;
}

.sectionImage {
	height: 1080px;
	background-image: url(../img/bobo.jpg);
	background-size: cover;
}

.sectionLinks {
	height: 100px;
	background-color: #e5e000;
	font-family: 'Yeseva One', cursive;
	color: white;
	font-size: 3rem;
	text-decoration: none;
	line-height: 100px;
}

.sectionText {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}

.footer {
	height: 200px;
	background-color: #e5e000;
	background-image: url(../img/logo.png);
	background-size: 205px;
	background-repeat: no-repeat;
	background-position: 80px 80px;
}

.footerText {
	background-position-y: 80px 80px;
	font-family: 'Yeseva One', cursive;
	color: white;
	font-size: 3rem;
	line-height: 200px;