@import url(reset.css);

.header,
.footer {
	box-sizing: border-box;
	height: 60px;
	background-color: red;
	color: white;
	position: relative;
	font-size: 20px;
}

.symbol {
	position: absolute;
	top: 20px;
	left: 20px;
}

.back {
	position: absolute;
	top: 20px;
	right: 20px;
}

.copyright {
	position: absolute;
	top: 20px;
	left: 20px;
}

.main {
	text-align: center;
}

.first,
.second,
.third {
	display: inline-block;
	width: 400px;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	border-radius: 30px;
	text-align: left;
	margin: 112px 25px;
	font-size: 20px;
}

.third {
	margin-right: 45px
}

.second {

}

.first {
	margin-left: 45px;
}

.section-heading {
	font-family: 'Helvetica';
	font-weight: 700;

	padding: 33px 33px 41px;
}
 .text {
 	font-family: 'Times New Roman';
	font-weight: 400;
 
 	padding-right: 33px;
 	padding-left: 33px;
 	padding-bottom: 33px;
 }