@import url(reset.css);

.header,
.footer {
	box-sizing: border-box;
	height: 60px;
	background-color: red;
	color: white;
	position: relative;
	font-size: 20px;
}

.symbol {
	position: absolute;
	top: 20px;
	left: 20px;
}

.back {
	position: absolute;
	top: 20px;
	right: 20px;
}

.copyright {
	position: absolute;
	top: 20px;
	left: 20px;
}

.first,
.second,
.third {
	display: inline-block;
	width: 400px;
	height: 800px;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	border-radius: 30px;
	margin-top: 120px;
	margin-bottom: 120px;
	margin-left: 70px;
}

.third {
	margin-left: 50px;
}

.second {
	margin-left: 50px;
}

.first {
	margin-left: 70;
}

.section-heading {
	font-weight: 700;
	font-size: 20px;
	position: relative;
	top: 33px;
	left: 33px;
}

.content {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	position: relative;
	margin: 97px 33px 33px;
}