@import url(reset.css);

.header,
.footer {
	height: 60px;
	box-sizing: border-box;
	background-color: red;
	color: white;
	position: relative;
	font-size: 20px;
}

.symbol {
	position: absolute;
	top: 20px;
	left: 20px;
}

.back {
	position: absolute;
	top: 20px;
	right: 20px;
}

.copyright {
	position: absolute;
	top: 20px;
	left: 20px;
}

.main {
	text-align: center;
}

.first,
.second,
.third {
	display: inline-block;
	width: 400px;

	box-sizing: border-box;
	border: 5px solid #E5E000;
	border-radius: 30px;

	margin: 112px 25px;
	padding: 33px 33px 0;
	text-align: left;

	font-size: 20px;
}

.section-heading {
	font-family: 'Helvetica';
	font-weight: 700;

	margin-bottom: 41px;
}
 .text {
 	font-family: 'Times New Roman';
	font-weight: 400;

	margin-bottom: 33px;
}