@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

.heading h1{
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Merriweather', serif;
}

.paragraph p{
	font-family: 'Oswald', sans-serif;
}

.paragraphTwo p{
	font-family: 'JetBrains Mono', monospace;
}