@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');

.header {
	height: 200px;
	background-color: #e5e000;
	box-sizing: border-box;
	padding: 80px;
}

.name {
	font-family: 'Yeseva One', cursive;
	color: white;
	font-size: 50px;
}

.section-image {
	height: 1080px;
	background-image: url(../img/bobo.jpg);
	background-size: cover;
}

.section-links {
	height: 100px;
	background-color: #e5e000;
	box-sizing: border-box;
	padding: 35px 0 0 80px;  
}

.section-links a {
	font-family: 'Yeseva One', cursive;
	color: white;
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
}

.section-text {
	box-sizing: border-box;
	padding: 110px 80px 20px;

	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
}

.section-text h2 {
	font-weight: 700;

	margin-bottom: 80px;
}

.section-text p {
	margin-bottom: 80px
}

.footer {
	height: 200px;
	background-color: #e5e000;
	position: relative;
}

.mcs {
	position: absolute;
	top: 77px;
	left: 80px;
}

.footer-text {
	display: block;
	position: absolute;
	top: 77px;
	right: 80px;

	font-family: 'Yeseva One', cursive;
	color: white;
	font-size: 50px;
}