@import url(reset.css);

.outer {
	width: 500px;/*Если не убрать пробел, два элемента не влезут в родитель*/
	font-size: 0;/*Уберает пробел, возникший при изменении типа block в inline-block*/
}
div	{
	width: 250px;
	display: inline-block;/*Блочные принято менять в линейно-блочные*/
	color: white;
	vertical-align: top;/*Открывается переводом блочного в линейно-блочный.
	Помогает выровнить при избытке текста в контейнере*/
	font-size: 16px;/*Компенсирует 0 в радительском элементе*/
}
.one {
	height: 200px;
	background-color: black;
}

.two {
	height: 200px;
	background-color: green;
}
/*Блочные элементы по умолчанию занимаю всю ширину родителя
И начинаються всегда сновой строки.*/

a {
	width: 200px;
	height: 100px;
	display: block;/*Можно изменить тип элемента с помощью display*/
	margin: auto;/*И теперь, после применения displey можно использывать margin: auto;*/
}
/*Линейные элементы по умолчанию распалогаються друг за другом
И занимают столько места, сколько отведино под контент в ней.
Не чувствительны к назначению шерины и высоты*/

img	{
	width: 100px;
	display: block;/*Так, как с линейными можно сделать и с линейно-блочными*/
}
/*Линейно-блочные элементы стоновяться в одну строку,
но приэтом чувствительны к изменению размера*/